.wrapper {
	width: 100%;
	overflow: hidden;
	background-position-x:center;	
	background: url('12(1).jpg') no-repeat;
	background-size: auto; 	
	background-color: rgba(181, 181, 181, 0.4);	
}

header, main {		
	color: rgb(50, 46, 46);
}



img {
	height:auto;
	max-width:100%;
	opacity: 0.5;  
}

h1 {
	position: absolute;		
	top:80px;
	right: 40px;
	font-size: 300%;
	font-family: 'Exo 2', sans-serif;
}


.description {
	position: absolute;	
	top:200px;	
	left: 50px;	
	max-width: 500px;
	font-size: 120%;	
	font-family: 'Arvo', serif;
	letter-spacing: 1px;
	text-indent: 20px;
}


.search {
	width: 200px;
	min-height: 40px;
	background: #f1f1f1;
	position: absolute;
	z-index: 10000;
	top: 150px;
	right: 100px;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right;
	transition-property: min-height, width, top, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search.open {
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
	/*background:url('bg.jpg') no-repeat;
	background-color:#fff;
	background-position-x: center;
	background-size: auto;*/
	background-color: rgba(241,241,241,0.9);
}

.search-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search.open .search-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
}

.search-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: black;
	

	-webkit-transition: font-size 2s cubic-bezier(0.7,0,0.3,1);
	transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.search-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.search.hideInput .search-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.search.open .search-input {
	font-size: 7em;
}

/* placeholder */
.search-input::-webkit-input-placeholder {
	color: black;
}

.search-input:-moz-placeholder {
	color: black;
}

.search-input::-moz-placeholder {
	color: black;
}

.search-input:-ms-input-placeholder {
	color: black;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.search-input:focus,
.search-submit:focus {
	outline: none;
}

.search-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(../images/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.search.open .search-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.search-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.search.open .search-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.search-close::before,
.search-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
}

.search-close:hover.search-close::before,
.search-close:hover.search-close::after {
	opacity: 1;
}

.search-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.search-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.search-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.search.open .search-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}


.hide {
 	display: none;
}





















































